---
import EventCard from "./EventCard.astro";

let apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRodHFieXBlcHBtdWR1bWV4aGx4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA2NjE3MzIsImV4cCI6MjAxNjIzNzczMn0.-9Gc_hZogXClFNsHWSSt0CLqpKSRvui8ToAxrHg0-XU";
    let url = "https://dhtqbypeppmudumexhlx.supabase.co/rest/v1/Events";
    
    let headersList = {
        "apikey": apikey
       }
       
       let response = await fetch(url, { 
         method: "GET",
         headers: headersList
       });
       
        let data = await response.json();
       console.log("her er data",data);
---





<section class="grid sm:grid-cols-2 lg:grid-cols-3 gap-16  md:mb-32 mb-16">

   <!-- {data.map((single) => {
           return <EventCard title={single.title} description={single.description} date={single.date} time={single.time}  price={single.price} source={single.source}/>
      }) }     -->

{data.map((single) => {
    // Konverter dato-stringen til et Date-objekt
    const eventDate = new Date(single.dato);

    // Hent dag, måned og år fra Date-objektet
    const day = eventDate.getDate();
    const month = eventDate.getMonth() + 1; // Måneder er nulbaserede, så tilføj 1
    const year = eventDate.getFullYear();

    // Opret en streng med europæisk datoformat
    const europeanDateFormat = `${day < 10 ? '0' : ''}${day}/${month < 10 ? '0' : ''}${month}/${year}`;

    return (
        <EventCard
            key={single.id} // Husk at tilføje en unik nøgle, hvis du mapper over elementer
            title={single.title}
            description={single.description}
            date={europeanDateFormat}
            time={single.time}
            price={single.price}
            source={single.source}
        />
    );
})}


</section>



