---
const { title, time, date, price, description, source } = Astro.props;

---

<!-- EVENT CARD -->
<article itemscope itemtype="https://schema.org/SocialEvent" class="text-black">
    <!-- IMG -->
    <div class="w-full"><img itemprop="image" class="w-full" src={source}/></div>
    <!-- TITLE -->
    <div class="px-4 sm:px-0">
<h2 itemprop="name" class="font-bold text-3xl sm:text-2xl py-2">{title}</h2>

<section class="grid grid-cols-4">

        <!-- LEFT COLUMN (span 1) -->
<div class="col-span-1 font-extralight text-sm">
                <!-- DATE -->
<p itemprop="startDate">{date}</p>
        <!-- TIME -->
<p itemprop="doorTime">{time}</p>

        <!-- PRICE -->
<p>{price}</p>
    </div>

            <!-- RIGHT COLUMN (span 3) -->
    <div class="col-span-3 text-lg">
        <!-- DESCRIPTION -->
<p itemprop="about" >{description}</p>
<button class="font font-semibold">View more</button>
    </div>
    </section>
    </div>

</article>

